<!DOCTYPE html>
<html lang="en" ng-app="word-randomizer">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cut-Ups</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://use.fontawesome.com/c9514588db.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>


</head>
<body>
  <div class="container">
    <h1>Cut-Ups</h1>
  </div>
  <div class="container">
    <div class="row" ng-controller="TextsIndexController as textsIndexCtrl">

      <div class="col-sm-6" id="form-row">
        <div class="row">
          <h3>Your Text</h3>
        </div>
        <div class="row">
          <form>
            <div class="form-group">
              <form>
                <textarea class="form-control" rows="5" id="new-text" placeholder="Enter the text you'd like to randomize" ng-model="textsIndexCtrl.newText.text"></textarea>
                <button id="submit" class="btn btn-primary" ng-click="textsIndexCtrl.shuffleText()">Submit</button>
              </form>
            </div>
          </form>
        </div>

      </div>

      <div class="col-sm-6" id="response-row">
        <div class="row">
          <h3>Randomized version</h3>
        </div>
        <div class="row">
          <textarea class="form-control" rows="5" id="randomized-text" ng-model="textsIndexCtrl.randomizedText.text"></textarea>
        </div>
      </div>

    </div>
  </div>

</body>

</html>
