$mid-spacing: 40px;
$mobile-margin: 20px;
$mobile-breakpoint: 768px;

// div {
//   border: 1px dotted grey;
// }

.btn {
  margin-top: 13px;
}

li a {
  padding: 15px 10px 15px 10px!important;
}

@media (min-width: $mobile-breakpoint) {
  #form-row {
    padding-right: $mid-spacing!important;
  }
  #response-row {
    padding-left: $mid-spacing!important;
  }
}

@media (max-width: $mobile-breakpoint) {
  #form-row,
  #response-row {
    margin-left: $mobile-margin!important;
    margin-right: $mobile-margin!important;
  }

}
